{% extends 'base.twig.html' %}

{% block template %}

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Статистика</h3>
    </div>
    <br>
    <center>
        <table>
            <td style="min-width: 50pc;">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Panel title</h3>
                            </div>
                            <div class="panel-body">
                              Panel content
                            </div>
                        </div>
            </td>
        </table>
    </center>
</div>

{% endblock %}
