<!DOCTYPE html>

{% include 'header.twig.html' %}

<body>

    <div class="container">

{% block head %}

        <div class="header clearfix">
            <!--<nav class="navbar navbar-dark" style="background-color: #6e8894;">-->
                <nav class="navbar navbar-light" style="background-color: #cdc7bb" >
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" style="color: #000; width: 200px">Scientometrics <p style="font-size: 8px">build 0.3x alpha</p></a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li><a href="/" style="font-size: 12pt;"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
                            <li><a href="/public" style="font-size: 12pt;"><span class="glyphicon glyphicon-list"></span> Сотрудники</a></li>
                            <li><a href="/public/state" style="font-size: 12pt;"><span class="glyphicon glyphicon-equalizer"></span> Статистика</a></li>
                            <li><a href="/" style="font-size: 12pt;"><span class="glyphicon glyphicon-cog"></span> Научные результаты</a></li>
                            <!--<li><a href="/controlpanel" style="font-size: 12pt;"><span class="glyphicon glyphicon-question-sign"></span></a></li>-->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> About</a></li>-->
                            {{ page.login | raw }}
                            <!--<li><a href="/login" style="font-size: 12 pt;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
                        </ul>
                    </div>
                </nav>

                {% for message in page.messages %}

                {{ message | raw }}

                {% endfor %}

                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>Вы авторизованы в системе, текущий статус -   <strong>administrator</strong>
                  </div>
            </div>

{% endblock %}

<!-- template -->
{% block template %}

{% endblock %}

<!-- footer -->
{% include 'footer.twig.html' %}

</div>
<script src="/public/js/jquery.nicescroll.min.js"></script>
<script>
        $(document).ready(function() {
            $("body").niceScroll().resize(25);
            });
            </script>

</body>
