<!DOCTYPE html>

{% include 'header.twig.html' %}

<body>

    <div class="container">

{% block head %}

        <div class="header clearfix">
                <nav class="navbar navbar-light" style="background-color: #cdc7bb" >
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" style="color: #000; width: 200px">Scientometrics <p style="font-size: 8px">build 0.3x alpha</p></a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li><a href="/" style="font-size: 12pt;"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
                            <li><a href="/public" style="font-size: 12pt;"><span class="glyphicon glyphicon-list"></span> Сотрудники</a></li>
                            <li><a href="/public/state" style="font-size: 12pt;"><span class="glyphicon glyphicon-equalizer"></span> Статистика</a></li>
                            <li><a href="/" style="font-size: 12pt;"><span class="glyphicon glyphicon-cog"></span> Научные результаты</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            {{ page.login | raw }}

                        </ul>
                    </div>
                </nav>

                {% for message in page.messages %}

                {{ message | raw }}

                {% endfor %}


{% endblock %}

<!-- template -->
{% block template %}

{% endblock %}

<!-- footer -->
{% include 'footer.twig.html' %}

</div>
<script src="/public/js/jquery.nicescroll.min.js"></script>
<script>
        $(document).ready(function() {
            $("body").niceScroll().resize(25);
            });
            </script>

</body>
