{% extends 'base.twig.html' %}

{% block template %}

<div class="panel panel-default">
        <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home"><span style="font-size:12pt;" class="glyphicon glyphicon-alert">Сотрудники</span></a></li>
                <li><a data-toggle="tab" href="#menu1"><span style="font-size: 12pt;" class="glyphicon glyphicon-book">  Публикации</span></a></li>
                <li><a data-toggle="tab" href="#menu2"><span style="font-size: 12pt;" class="glyphicon glyphicon-cog">  Параметры</span></a></li>
              </ul>
              
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                        <div class="well">Добавление новых пользователей, редактирование и удаление существующих данных
                                <br>
                                <br>
                                <input class="form-control" id="myInput" type="text" placeholder="Поиск">
                                <br>
                                <div class="btn-group">
                                    <a class="btn btn-default" href="#"><i class="icon-user icon-white"></i><span class="glyphicon glyphicon-export">  Экспорт</span></a>
                                    <a style="background-color: lightgray;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick ="$('#userlist').tableExport({type:'png'});"><span class="glyphicon glyphicon-pencil" style="color: blue;">  PNG</span></a></li>
                                      <li><a onclick ="$('#userlist').tableExport({type:'pdf',pdfFontSize:5,ignoreColumn:[1],htmlContent:'false',escape:'false'});"><span class="glyphicon glyphicon-pencil" style="color: red;">  PDF</span></a></li>
                                      <li><a onclick ="$('#customers').tableExport({type:'excel',htmlContent:'false',escape:'false'});"><span class="glyphicon glyphicon-list-alt" style="color: green;">  XLS</span></a></li>
                                    </ul>
                                  </div>
                                  <br>
                              </div>
                                    <table data-tableexport-display="none" style="margin-top: -1.3pc;" class="table table-hover" id="userlist">
                                        <thead style="background-color: lightgray;" class="thead-default">
                                          <tr>
                                            <th>Имя, фамилия</th>
                                            <th>Статус пользователя/действия</th>
                                            <th>Должность</th>
                                            <th>Учёная степень</th>
                                            <th>Индекс</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                      {% for user in users %}
                                        <tr style="font-size: 10pt;">
                                          <td style="text-align: center;">{{ user.name }} {{ user.secondname }} {{ user.lastname }}</td>
                                          <td>
                                            <div class="btn-group">
                                                <a class="btn btn-default" href="#"><i class="icon-user icon-white"></i> Пользователь</a>
                                                <a style="background-color: lightgray;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                  <li><a href="/public/users/edit/{{user.id}}"><span class="glyphicon glyphicon-pencil">  Редактировать</span></a></li>
                                                  <li><a href="" data-toggle="modal" data-target="#myModal{{ user.id }}"><span class="glyphicon glyphicon-list-alt">  Подробные данные</span></a></li>
                                                  <li class="divider"></li>
                                                  <li><a href="/control/make/{{ user.id }}"><i class="i"></i><span class="glyphicon glyphicon-exclamation-sign">  Сделать администратором</span></a></li>
                                                </ul>
                                              </div>
                                              <!-- Modal -->
                                              <div id="myModal{{ user.id }}" class="modal fade" role="dialog">
                                                <div style="min-width: 50pc;" class="modal-dialog">
                                                  <!-- Modal content-->
                                                 <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading"><h3>{{ user.name }} {{ user.secondname }} {{ user.lastname }}</h3></div>
                                                            <div class="panel-body">
                                                                <table class="table table-striped">
                                                                    <tr><td>Должность: {{ user.position }}</td><td></td><td>Возраст: {{user.age }} </td><td></td></tr>
                                                                    <tr><td>Публикаций:</td><td></td><td>Научная степень: {{ user.grade }}</td><td></td></tr>
                                                                    <tr><td>Индекс:</td><td></td>Стаж: {{ user.expirience }}</tr>
                                                                  </table>
                                                            </div>
                                                          </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button style="font-size: 10pt;" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <!-- END MODAL -->
                                          </td>
                                          <td style="text-align: center;">{{ user.position }}</td>
                                            <td>{{ user.grade }}</td>
                                           <td style="text-align: center;"><span class="badge">0</span></td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                        </table>
                                        <script>
                                        $(document).ready(function(){
                                          $("#myInput").on("keyup", function() {
                                            var value = $(this).val().toLowerCase();
                                            $("#userlist tr").each(function() {
                                              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                              });
                                            });
                                          });
                                          </script>
                </div>

                <!-- SCIENCE -->
                <div id="menu1" class="tab-pane fade">
                    <table style="margin-top: -1.3pc;" class="table table-hover" id="menu1" style="background-color: #fff;">
                        <div class="well">Статьи, монографии
                          <br>
                            <br>
                            <input class="form-control" type="text" placeholder="Поиск">
                            <br>
                          </div>
                        <thead style="background-color: lightgray;" class="thead-default">
                          <tr>
                            <th>Название</th>
                            <th></th>
                            <th>Издание</th>
                            <th>Автор(ы)</th>
                            <th>Год издания</th>
                            <th>DOI</th>
                            <th>Страна издания</th>
                          </tr>
                        </thead>
                        <tbody>
                      {% for article in articles %}
                        <tr style="font-size: 10pt;">
                          <td style="text-align: left;"><strong>{{ article.title }}</strong><br>{{ article.subtitle }}</td>
                          <td>
                              <div class="btn-group">
                                  <a class="btn btn-default" href="#"><i class="icon-user icon-white"></i> Действия</a>
                                  <a style="background-color: lightgray;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="/public/users/edit/{{user.id}}"><span class="glyphicon glyphicon-pencil">  Редактировать</span></a></li>
                                    <li><a href="" data-toggle="modal" data-target="#myModal{{ user.id }}"><span class="glyphicon glyphicon-list-alt">  Просмотр</span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="/control/make/{{ user.id }}"><i class="i"></i><span class="glyphicon glyphicon-exclamation-sign">  Удалить</span></a></li>
                                  </ul>
                                </div>
                          </td>
                          <td style="text-align: left;">{{ article.magazine }}</td>
                          <td>
                            {% for item in article.authors %}
                            {{ item }} <!-- authors -->
                            <br>
                            {% endfor %}
                          </td>
                          <td style="text-align: left;"><span class="badge"> {{ article.year }} </span></td>
                          <td></td>
                          <td> {{ article.country }} </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        </table>
                    </div>

                <!-- CONTROL -->
                <div id="menu2" class="tab-pane fade">
                  <div class="well">Управление приложением</div>
                  <center>
                  <div style="margin-right: 2pc; margin-left: 2pc;" class="row">
                    <div class="col-xs-5">
                      <div class="well">
                        <a href="#1">Управление пользователями</a>
                        <br>
                        <a href="#2">Вспомогательные данные</a>
                        <br>
                        <a href="#3">Menu group 2</a>
                      </div>
                    </div>
                    <div class="col-xs-7">
                        <section id="1">
                            <div style="min-width: 27pc; min-height: 10pc;" class="panel panel-default">
                                <div class="panel-heading">Пользователи</div>
                                <div class="panel-body">
                                  <div class="btn-group-vertical">
                                    <a href="/control/users/add" type="button" class="btn btn-default">Создать пользователя</a>
                                    <a href="/control/users/delete" type="button" class="btn btn-default">Удалить пользователя</a>
                                    <!--<a href="/suspend" type="button" class="btn btn-default">Редактировать права администраторов</a>-->
                                  </div>
                                </div>
                              </div>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                        </section>
                        <section id="2">
                            <div style="min-width: 27pc; min-height: 10pc;" class="panel panel-default">
                                <div class="panel-heading">Вспомогательные данные</div>
                                <div class="panel-body">
                                  <div class="btn-group-vertical">
                                    <a href="/control/indexes" type="button" class="btn btn-default"><span class="glyphicon">  Редактировать коэффициенты</span></a>
                                    <a href="/control/positions" type="button" class="btn btn-default"><span class="glyphicon">  Редактировать список должностей</span></a>
                                    <a href="/control/grades" type="button" class="btn btn-default"><span class="glyphicon">  Редактировать список учёных степеней</span></a>
                                  </div>
                                </div>
                              </div>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                        </section>
                        <section id="3">
                            <div style="min-width: 27pc; min-height: 10pc;" class="panel panel-default">
                                <div class="panel-heading">Параметры приложения</div>
                                <div class="panel-body">
                                  <div class="btn-group-vertical">
                                    <a href="/" type="button" class="btn btn-default">Параметры бота</a>
                                    <a href="/" type="button" class="btn btn-default"><span style="color: red;" class="glyphicon">  Сбросить лог</span></a>
                                    <a href="/suspend" type="button" class="btn btn-default"><span style="color: red;" class="glyphicon">  Приостановить работу приложения</span></a>
                                  </div>
                                </div>
                              </div>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                        </section>
                    </div>
                  </div>
                  </center>
                    <!--<table class="table">
                      <tr>
                        <td>
                        </td>
                      </tr>
                      <tr>
                        <td>
                        </td>
                      </tr>
                    </table>-->
                  </div>
                </div>
            </div>

{% endblock %}