<head>
    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Scientometrics</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/public/css/page.css" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>

    <script src="/public/js/tableExport.js"></script>
    <script src="/public/js/jquery.base64.js"></script>
    <script src="/public/js/libs/sprintf.js"></script>
    <script src="/public/js/libs/base64.js"></script>
    <script src="/public/js/libs/html2canvas.js"></script>
    <script src="/public/js/jspdf.js"></script>

    <style>
        @font-face {
            font-family: Raleway-Light;
            src: url(/public/fonts/Raleway-Light.ttf);
        }
        html, body {
            font-family: Raleway-Light;
            font-size: 14px;
        }
    </style>

  </head>