{% extends 'base.twig.html' %}

{% block template %}
<div class="jumbotron">
    <h3>Список сотрудников ЦЕИ РАН</h3>
    <br>
    <div class="container">
        <input class="form-control" id="myInput" type="text" placeholder="Поиск по имени..">
        <br>
    </div>
    <br>
    <table class="table table-hover" id="myList" style="vertical-align: middle; background-color: #fff;">
        <thead style="font-style: italic; font-size: 14pt;">
            <td>Имя, фамилия</td>
            <td>Должность</td>
            <td></td>
        </thead>
      {% for user in users %}
        <tr>
          <td style="color: gray; font-size: 11pt; text-align: right;"><center>{{ user.name }} {{ user.lastname }}</center>
        </td>
          <td>
            {{ user.position }}
          </td>
          <td style="color: gray; text-align: center;">
              <div class="dropdown">
                  <button class="btn btn-primary" style="max-height: 2.5pc; background-color: #d3d3d3; color: #000; font-size: 8pt;" type="button" data-toggle="modal" data-target="#myModal{{ user.id }}"><span style="color: gray;" class="glyphicon glyphicon-user"></span></button>
                  <!-- Modal -->
                  <div id="myModal{{ user.id }}" class="modal fade" role="dialog">
                    <div style="min-width: 50pc;" class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">{{user.name}} {{user.lastname}}</h4>
                        </div>
                        <div class="modal-body">
                          <table class="table"  >
                            <tr><td>Должность:</td><td></td><td>Стаж:</td><td></td></tr>
                            <tr><td>Публикаций:</td><td></td><td>Научная степень:</td><td></td></tr>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button style="font-size: 10pt;" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" style="max-height: 2.5pc; background-color: #d3d3d3; color: #000; font-size: 8pt;" type="button" data-toggle="dropdown"><span style="color: gray;" class="glyphicon glyphicon-list"></span></button>
              </div>
              </td>
          {% for item in data %}
            <!--<td>{{ item }}</td>-->
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
        <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myList tr").each(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
            });
          });
          </script>
          </div>
{% endblock %}
