
body {
    background-color: #f5f5f5;

}

.navbrand {
    color: #32a873;
}

a {
    font-weight: bold;
    font-size: 18px;
    color: #32a873;
}



/**
* menu items
 */
ul.nav-pills:nth-child(1) li.active a.kv-toggle {
    background-color: #32a873;
}

li.active:nth-child(7) > ul:nth-child(2) > li:nth-child(3) > a:nth-child(1) {
    color: #fff;
}



ul.pagination li a {
    color: #32a873;
    background-color: #fff;
}

ul.pagination li.active a {
    background-color: #32a873;
}

/*
* modal window - read articles
 */
div.in:nth-child(5) > div:nth-child(1) > div:nth-child(1) {
    margin-left: -20pc;
    margin-top: 4pc;
    margin-bottom: -5pc;
    width: 80pc;
}


/*
* table links
 */
nav div div a {
    color: #32a873;
}

.navbar-brand a {
    color: #2a323b;
}

td a {
    color: #2a323b;
}

select option {
    /*width: 30pc;*/
}

.wrap {
    position: center;
}


.container a {
    font-size: 16px;
}

.container table {
    width: 75pc;
}

.navbar-brand {
    color: #000;
    font-size-adjust: 0.7;
}


.container-fluid {
    position: center;
}

.jumbotron {
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    width: 75pc;
    position: center;
    box-shadow: 0 0 5px;
}

#main-menu {
    width: max-content;
    min-height: 70pc;
    /*background-color: #2E3039;*/
    border-radius: 5px;
    /*background-color: lightgray;*/
    background-color: #f0f0f0;
}

.list-group-item {
    /*background-color: lightgray;*/
    background-color: #f0f0f0;
    border-radius: 5px;
    /*background-color: #2E3039;*/
    border: none;
}

a.list-group-item {
    border-radius: 5px;
    /*color: #32a873;*/
    color: gray;
}

a.list-group-item:hover,
a.list-group-item:focus {
    /*background-color: #43D5B1;*/
    border-radius: 5px;
    /*background-color: #32a873;*/
    /*background-color: #90ee90;*/
    background-color: #84e084;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    color: #FFF;
    /*background-color: #43D5B1;*/
    background-color: #32a873;
    border: none;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.list-group-level1 .list-group-item {
    padding-left:30px;
}

.list-group-level2 .list-group-item {
    padding-left:60px;
}
